/* src/index.css */
:root {
  --bg-dark: #0d1117;
  /* Fondo oscuro unicolor */
  --text-main: #f0f6fc;
  /* Texto claro */
  --white: #ffffff;
  --gray-placeholder: #888888;
  --shadow-standard: 0 4px 10px rgba(0, 0, 0, 0.3);
  /* Sombras para profundidad */
  --accent-blue: #2f81f7;
  /* Azul para botones de acción */
  --accent-green: #df1b1b;
  /* Verde para el perfil de GitHub */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

/* src/index.css */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra los hijos horizontalmente */
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  /* O el ancho máximo que quieras para tu app */
  margin: 0 auto;
  /* Centra el root en la pantalla */
}

h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #30363d;
  margin-bottom: 2rem;
}